<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedExpense">
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      Update Expense
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content *ngIf="selectedExpense">
      <ion-row>
        <ion-col col-10>
          <h2>{{ selectedExpense.title }}</h2>
          <p>{{ selectedExpense.amount }}</p>
        </ion-col>
        <ion-col col-2>
          <ion-icon name="create" (click)="updateExpense($event, selectedExpense)"></ion-icon>
          <ion-icon name="trash" (click)="deleteExpense($event, selectedExpense)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>